---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../layouts/Navbar.astro'
---
<Layout>
	<Navbar/>
	<h1>Seminarios Geofisica</h1>
	<Card />
<Layout/>

<style>
	h1{
		text-align: center;
		font-size: 50px;
	}
</style>