---
const {name, option} = Astro.props;
---

<button>{name}</button>

<style>
    button{
        background-color: rgba(3, 64, 120, 0.08);
        color: #0A1128;
        border: none;
        border-radius: 38px;
        width: 95px;
        height: 54px; 
        font-size: 20px;
        margin-left: 20px;
    }
</style>

