---

---
<div class="div-parent">
    <div class="div-child">
        <img src="searchBar/searchIcon.png" class="inner-img"/>
    </div>
</div>

<style>
    .div-parent{
        display: flex;
        justify-content: center;
    }
    .div-child{
        text-align: center;
        background-color: rgba(3, 64, 120, 0.08);
        width: 558px;
        height: 43px;
        border: 1px solid #0A1128;
        border-radius: 85.5px;
        padding-left: 10px;
    }
    .inner-img{
        float: left;
        margin-top: 10px;
    }
</style>