---

---

<div>
    <a href="#" class="proximas">Proximas</a>
    <a href="#" class="pasadas">Pasadas</a>
</div>

<style>
    div{
        background-color: rgba(3, 64, 120, 0.08);
        height: 121px;
        width: 169px;
        border-radius: 38px;
        font-size: 20px;    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        float: right;
    }
    a{
        color: #0A1128;
        text-decoration: none;
    }
    .proximas{
        
    }

</style>