---
import DropdownMenu from './DropDownMenu.astro'
import SearchBar from './SearchBar.astro'
import TableOfContent from './TableOfContent.astro'
---
<!-- -->
<div class="div-parent">
    <div class="search">
    <SearchBar />
    <DropdownMenu name='Tipo' options={['Institucional',
     'Recursos Naturales', 'Geomagnetismo', 'Geoquimica']}
     path={[
        '/',
        '/RecursosNaturales/',
        '/Geomagnetismo/',
        '/Geoquimica/'
    ]}
     />
    <DropdownMenu name='Año' options={[2022, 2023, 2024]}
    path={[
        '/2022/',
        '/2023/',
        '/2024/'
    ]}
    />
    </div>
    <div class="table-of-content">
    <TableOfContent />
    </div>
</div>
<style>
    .div-parent{
        display: flex;
        margin-top: 40px;
        width: 100%;
    }
    .search{
        display: flex;
        justify-content:center;
        width: 100%;
    }
    .table-of-content{
        position: fixed;
        right: 0;
    }
</style>