
<div class="div-parent">
    <div class="div-child">
        <img src="searchBar/searchIcon.png" class="inner-img"/>
        <input type='text'/>
    </div>
</div>

<style>
    .div-child{
        
        background-color: rgba(3, 64, 120, 0.08);
        width: 558px;
        height: 43px;
        border: 1px solid #0A1128;
        border-radius: 85.5px;
        padding-left: 10px;
        display: flex;
    }
    .inner-img{
        float:inline-end;
        padding: 10px;
        height: 20px;     
    }
    input{
        background-color: transparent;
        border: none;
        outline: 0;
        flex: auto;
        border-radius: 85.5px;
        font-size: 20px;
    }
</style>