---
import DropdownMenu from './DropDownMenu.astro'
import SearchBar from './SearchBar.astro'
import SideBar from './SideBar.astro'
---
<!-- -->
<div class="div-parent">
    <div class="search">
    <SearchBar />
    <DropdownMenu name='Tipo' options={['Institucional',
     'Recursos Naturales', 'Geomagnetismo']}/>
    <DropdownMenu name='Año' options={[2022, 2023, 2024]}/>
    </div>
    <div class="side-bar">
    <SideBar />
    </div>
</div>
<style>
    .div-parent{
        display: flex;
        margin-top: 40px;
        width: 100%;
    }
    .search{
        display: flex;
        justify-content:center;
        width: 100%;
    }
    .side-bar{
        position: fixed;
        right: 0;
    }
</style>