---

---
<div class="div-parent">
    <div class="div-child">
        <a href="#next" class="next">Proximas</a>
        <a href="#past" class="past">Pasadas</a>
    </div>
</div>
<style>
    .div-child{
        
        background-color: rgba(3, 64, 120, 0.08);
        height: 121px;
        width: 169px;
        border-radius: 38px;
        font-size: 20px;  
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    a{
        color: #0A1128;
        text-decoration: none;
    }

    .next:focus, .past:focus{      
        color:#1282A2;
    }

</style>