---

---

<div class="div-parent">
    <color-asing class="div-child">
        <a href="#next" class="next" style="color: #1282A2;">Proximas</a>
        <a href="#past" class="past">Pasadas</a>
    </color-asing>
</div>
<style>
    .div-child{
        
        background-color: rgba(3, 64, 120, 0.08);
        height: 121px;
        width: 169px;
        border-radius: 38px;
        font-size: 20px;  
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    a{
        color: #0A1128;
        text-decoration: none;
    }

</style>
    
<script>
    class ColorAsing extends HTMLElement{
        constructor(){
            super();
            const next = this.querySelector('a.next');
            const past = this.querySelector('a.past');
            const a = this.querySelectorAll('a')
            let count = 0;
            var displayPast = true
            var displayNext = true
            next?.addEventListener('click', () => {
                if(displayPast === true){
                displayNext = true
                displayPast= false
                next?.setAttribute('style', 'color: #1282A2;')
                past?.setAttribute('style', '')
                }
                
            })

            past?.addEventListener('click', () =>{ 
                if(displayNext){
                    displayPast = true
                    displayNext= false
                    past?.setAttribute('style', 'color: #1282A2;')  
                    next?.setAttribute('style', '')
                }    
            })
            
        }
    }
    customElements.define('color-asing', ColorAsing)
</script>