---

---
<div class="navbar">

<div class="icons">
    <a href="https://www.unam.mx/" target="_blank" rel="noopener noreferrer" id="unam"><img src="navbar/Unam.png"/></a>
    <a href="https://www.geofisica.unam.mx/" target="_blank" rel="noopener noreferrer" id="geofisica"><img src="navbar/Geofisica.png"/></a>
</div>
<div class="title">
    <h1>Seminarios</h1>
</div>
</div>
<style>
    .navbar{
        display: flex;
        height: 129px;
        background-color: #0A1128;

    }
    .title{   
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: #FEFCFB;
    }
    .icons{
        position: absolute;
        display: flex;
    }
    a{
        margin-top: auto;
        margin-bottom: auto;
    }
</style>