---

---

<div>
    <a href="https://www.unam.mx/" target="_blank" rel="noopener noreferrer" id="unam"><img src="navbar/Unam.png"/></a>
    <a href="https://www.geofisica.unam.mx/" target="_blank" rel="noopener noreferrer" id="geofisica"><img src="navbar/Geofisica.png"/></a>
    <h1>Seminarios</h1>
</div>

<style>
    div{   
        display: flex;
        height: 129px;
        background-color: #0A1128;
    }
    a{
        margin-top: auto;
        margin-bottom: auto;
    }
    h1{
		font-size: 50px;
        color: #FEFCFB;
        align-self: center;
        justify-self: center;
	}
</style>